.header{
    display : flex;
    justify-content: space-between;
    border : 1px solid black; 
}
.logo{
    width : 100px;
}
.nav-Items > ul{
    display : flex;
    list-style-type: none;
}
.nav-Items > ul > li {
    padding : 10px;
    margin : 10px;
}
.res-container{
    display : flex;
    flex-wrap:wrap;
}
.res-card{
    width : 200px;
    border : 1px solid black;
    margin : 10px;
    padding : 10px;
}
.res-card:hover{
    cursor : pointer;
}
.search{
    padding : 10px;
}
.res-logo{
    width : 100%;
}